<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Yapnak</title>

  <!--angularjs-->
  <script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.js"></script>
  <script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
  <script
  src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
  <script src="app.js"></script>

  <!--bootstrap-->
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">

  <link href="css/index.css" rel="stylesheet">

</head>

<body class="content container" ng-controller="client-controller">


  <div class="form-signin center-image">
    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100">
  </div>
  <div class="form-signin">
    <div class ="form-signin">
      <button class="btn btn-default btn-block">
        <a href='angular-index.html'>
          Update image
        </a>
      </button>
    </div>
  </div>

  <div class="form-signin">
    <label
    for="exampleInputEmail1">Restaurant Name</label>
    <input type="text"
    class="form-control" name="name" id="name" placeholder="Test">
  </div>
  <div class="form-signin">  <label for="exampleInputPassword1">Restaurant
    Type</label>
    <input type="text" class="form-control" name="type" id="type"
    placeholder="Food style">
  </div>
  <div class="form-signin">
    <label
    for="exampleInputPassword1">Address</label>
    <input type="text"
    class="form-control" name="address" id="address" placeholder="Geolocation">
  </div>

  <div class="form-signin">
    <label>
      <input type="checkbox" name = "show-offer"
      value="show-offer" ng-model="offer1" ng-click="showOffer()"> Offer one
    </label>
    <hr>
    <div collapse="!offer1">
      <textarea maxlength="250" class="form-control well well-lg" name="deal" id = "deal"
      rows="3" placeholder="Offer"></textarea>
    </div>
  </div>
  <div class="form-signin">
    <label>
      <input type="checkbox" name = "show-offer"
      value="show-offer" ng-model="offer2" ng-click="showOffer()"> Offer two
    </label>
    <hr>
    <div collapse="!offer2">
      <textarea maxlength="250" class="form-control well well-lg" name="deal" id = "deal"
      rows="3" placeholder="Offer"></textarea>
    </div>
  </div>
  <div class="form-signin">
    <label>
      <input type="checkbox" name = "show-offer"
      value="show-offer" ng-model="offer3" ng-click="showOffer()"> Offer three
    </label>
    <hr>
    <div collapse="!offer3">
      <textarea maxlength="250" class="form-control well well-lg" name="deal" id = "deal"
      rows="3" placeholder="Offer"></textarea>
    </div>
  </div>


  <div class="form-signin">
    <button type="submit" class="btn btn-default btn-block">Update
      information
    </button>
  </div>

</body>
</html>
