<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Yapnak</title>

    <!--angularjs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link href="css/index.css" rel="stylesheet">
    <script src="app.js"></script>

</head>
<body class="content container">

<div class="main-container" ng-controller="main">

    <div class="logo" href="/client.jsp">
        <a href="/client.jsp"><img src="images/yapnakmonster.png" /></a>
    </div>

    <div class="input input-group-lg">
        <input type="text" ng-model="text" class="form-control input-box" placeholder="Yapnak ID here">
    </div>

    <div class="submit-button-container">
        <input class="btn btn-default submit-button" value="Submit" ng-click="submit()" />
    </div>

    <div class="submit-button-container">
       <h3>{{email}}</h3>
    </div>

    <div ng-switch="userFound">
        <div ng-switch-when="true" ng-show="data.points >
                0" class="switch-false container">
            <div class="points-container">
                <h3 class="inline">Found a valid user, they have</h3>
                <div class="inline points">{{data.points}}</div>
                <h3 class="inline">  points.</h3>
            </div>
        </div>
        <div class="switch-false" ng-switch-when="false">
            <div class="points-container">
                <h3>Sorry, we can't find that user.</h3>
            </div>

        </div>
        <div class="switch-false" ng-switch-when="searching">
            <h3>Searching for user...</h3>
        </div>
    </div>
</div>
</body>
</html>